@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Rounded&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Ubuntu' sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItemContainer{
    /* margin-top: 30px; */
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    margin: 10px 0;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 50%;

}
.timestamp{
    margin: 0 23px;
}
.timestamp i {
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    top: 6rem;
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}